body{font-size:15px;line-height:25px;word-wrap:break-word;font-family: 'microsoft yahei';color: #555;}
img{margin: 5px 0; display:block;max-width:100%;height:auto}
h3, h4, h5{padding:0 0;margin:20px 0;color: #555;font-weight:bold;}
h1, h2{font-weight:bold;margin:20px 0;border-bottom: 1px solid #eee;padding-bottom: 10px;}
h1{font-size:20px;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:15px;}
h5{font-size:14px;}
ul, ol{margin:0 0 20px 30px}
ul{list-style: disc;}
ol{list-style: decimal;}
li{margin-bottom: 6px;}
p{margin-bottom:20px;word-wrap:break-word}
pre{word-wrap:break-word}
table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:20px}
table th{background-color:#f9f9f9;text-align:center}
table td,table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.alignnone{margin:0 auto;}
.alignleft{float:left;text-align:left;margin-right:10px}
.aligncenter{margin: 0 auto;text-align: center;display: block;}
.alignright{float:right;text-align:right;margin-left:10px}
.wp-dopts{color: #e3A2B6;}
.wp-caption{margin-bottom: 20px;background-color: #f6f6f6;padding: 10px 10px 1px;max-width: 100%}
.wp-caption img{margin: 0 0 5px;}
.wp-caption p{margin-bottom: 10px;text-indent: 0;}
.wp-caption.alignnone{text-align: center;}
.wp-caption:hover .wp-caption-text{color: #45B6F7;}
a{text-decoration:underline;color: #45B6F7;}
a:hover{color: #FF5E52;}
pre,.comment pre{margin:20px 0;font:12px/20px 'courier new';background:#272822;padding:10px 15px;color:#F8F8D4;border:none}
blockquote{margin: 30px 30px;padding: 15px 20px;font-size: 16px;color: #999;border-left: 5px solid #EEE;}
blockquote p{margin:0;padding:0;margin-bottom: 10px;}